# Local .terraform directories
# Terraform Core Files
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.env

# Override files are typically used for local testing.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local SSH keys
**/.ssh/

# Ignore VSCode specific files
.vscode/

# Ignore files that may contain secrets from other parts of the repo
kubernetes-manifests/secret.yaml

# Unrelated AL project files
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
# Terraform
.terraform.local.hcl
.terraform/
terraform.tfstate.backup